:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "PT Sans", sans-serif;
    --third-family: "Potta One", sans-serif;
    --font3: "Baloo Da 2", sans-serif;
    --asikur-yellow: #f8bc17;
    --button-yellow: #fc0;
    --black: #000;
    --social-icon-ash: #f4f3f3;
    --hand-emoji-yellow: #FFD233;
}

/*  ========== Common Css End ==================== */


/*  ========== Navbar Start ==================== */

#navigation a {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 28px;
    color: #353535;
    text-decoration: none;
}

#navigation a span {
    color: var(--asikur-yellow);
}

#navigation .navbar-nav li a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 200%;
    color: #353535;
    /* background: #f8bc17; */
    padding: 10px 25px;
    position: relative;
}


#navigation .navbar-nav li a::before {
    content: "";
    width: 0%;
    height: 2px;
    background: #353535;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    transition: 0.2s ease-in-out;
}


#navigation .navbar-nav li a:hover::before {
    visibility: visible;
    width: 100%;
}


#offcanvasRight a {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 28px;
    color: #353535;
    text-decoration: none;
}

#offcanvasRight a span {
    color: var(--asikur-yellow);
}

/*  ========== Navbar End ==================== */








/*-- ========== Coming Soon START ==================== --*/
h2 {
    margin: 150px 0;
    font-size: 64px;
    text-align: center;
}
/*-- ========== Coming Soon END ==================== --*/




/*-- ========== FOOTER SECTION START ==================== --*/

#footer {
    margin-top: 100px;
    padding: 80px 0;
    background: #575757;
    position: relative;
}


#footer img{
    position: absolute;
    z-index: 5;
}


#footer .vector{
    bottom: 6%;
    left: -3%;
}

#footer .ellipse{
    top: 39%;
    left: 10%;
}


#footer .polygon{
    top: 39%;
    right: 10%;
}


#footer .f_child_row .logo_ a {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 48px;
    color: #fff;
    text-decoration: none;
}



#footer .f_child_row .logo_ a span {
    color: #fbfbfb;
}


#footer .f_child_row .logo_ a span:nth-of-type(2) {
    color: #f8bc17;
}


#footer .f_child_row .contains_ h4 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 200%;
    color: #fff;
    margin-bottom: 0;
}



#footer .f_child_row .contains_ p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: justify;
    color: #bbb9b9;
}


#footer .f_child_ancor {
    text-align: end;
}


#footer .f_child_ancor a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    color: #fff;
    background: #fc0;
    border-radius: 16px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 16px 32px;
}


#footer .f_child_ancor a span {
    margin-left: 11px;
    display: inline-flex;
}



#footer .f_child_ancor a:hover {
    background: transparent;
    outline: 1px solid var(--button-yellow);
    color: var(--button-yellow);
}




#footer .f_parent_row:last-child {
    margin-top: 85px;
}




#footer .f_child_row .contacts_ p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: justify;
    color: #bbb9b9;
    margin-bottom: 4px;
}


#footer .f_child_row .contacts_ h5 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    color: #fff;
}

#footer .f_child_socials p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: justify;
    color: #fff;
    margin-bottom: 0;
    margin-right: 24px;
}

#footer .f_child_socials a {
    /* align-items: center; */
    color: #fff;
    background: #484848;
    padding: 14px;
    border-radius: 100%;
    margin-right: 10px;
    line-height: 0;
}

#footer .f_child_socials a:hover {
    transform: rotate(25deg);
    transition: all 0.3s ease;
}

/*-- ========== FOOTER SECTION END ==================== --*/