:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "PT Sans", sans-serif;
    --third-family: "Potta One", sans-serif;
    --font3: "Baloo Da 2", sans-serif;
    --asikur-yellow: #f8bc17;
    --button-yellow: #fc0;
    --black: #000;
    --social-icon-ash: #f4f3f3;
    --hand-emoji-yellow: #FFD233;
}

/*  ========== Common Css End ==================== */


/*  ========== Navbar Start ==================== */

#navigation a {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 28px;
    color: #353535;
    text-decoration: none;
}

#navigation a span {
    color: var(--asikur-yellow);
}

#navigation .navbar-nav li a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 200%;
    color: #353535;
    /* background: #f8bc17; */
    padding: 10px 25px;
    position: relative;
}


#navigation .navbar-nav li a::before {
    content: "";
    width: 0%;
    height: 2px;
    background: #353535;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
    transition: 0.2s ease-in-out;
}


#navigation .navbar-nav li a:hover::before {
    visibility: visible;
    width: 100%;
}


#offcanvasRight a {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 28px;
    color: #353535;
    text-decoration: none;
}

#offcanvasRight a span {
    color: var(--asikur-yellow);
}

/*  ========== Navbar End ==================== */









/*  ========== Banner Section Start ==================== */

#banner {
    /* background: #f8bc17; */
    margin-top: 50px;
    position: relative;
}


#banner .middle_mouse img {
    position: absolute;
    bottom: -4%;
    left: 50%;
    transform: translate(-50%);
    /* display: inline; */
}


#banner .row .banner_img {
    padding: 0;
    /* background: #353535; */
}

#banner .row .banner_img img {
    width: 100%;
}

#banner .row .banner_contains {
    padding: 0;
    /* background: rgb(146, 255, 146); */
}

#banner .banner_contains .first_line h4 {
    /* background: #ffe59f; */
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 24px;
    /* color: #353535; */
    margin-bottom: 15px;

}


#banner .banner_contains .first_line span {
    margin-left: 20px;
    color: var(--hand-emoji-yellow);
}

#banner .row .banner_contains h1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 64px;
    /* color: #353535; */
    margin-bottom: 25px;
}

#banner .row .banner_contains p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
    color: #353535;
    margin-bottom: 50px;
}

#banner .banner_contains .banner_button a:first-child {

    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    line-height: 180%;
    color: #fff;
    background: var(--button-yellow);
    display: inline-flex;
    align-items: center;
    padding: 16px 45px;
    border-radius: 20px;
    text-decoration: none;
}

#banner .banner_contains .banner_button a:first-child:hover {
    background: transparent;
    outline: 1px solid var(--button-yellow);
    color: var(--button-yellow);
}


#banner .banner_contains .banner_button a:first-child span {
    display: inline-flex;
    margin-left: 15px;
}


#banner .banner_contains .banner_button a:last-child {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    color: #353535;
    text-decoration: none;
    outline: 1px solid var(--black);
    display: inline-flex;
    align-items: center;
    padding: 15px 17px;
    border-radius: 20px;
    margin-left: 40px;
}

#banner .banner_contains .banner_button a:last-child span {
    display: inline-flex;
    margin-left: 15px;
}

#banner .banner_contains .banner_button a:last-child:hover {
    background: transparent;
    outline: 1px solid var(--button-yellow);
    color: var(--button-yellow);
}

#banner .banner_contains .social_links {
    /* background: #000; */
    display: inline-flex;
    align-items: center;
    margin-top: 50px;
}

#banner .banner_contains .social_links h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    line-height: 180%;
    color: #353535;
    margin: 0 16px 0;
}

#banner .banner_contains .social_links a {
    /* background: #ffe59f; */
    /* display: flex; */
    background: var(--social-icon-ash);
    line-height: 0;
    padding: 10px;
    border-radius: 100%;
    color: var(--black);
    margin-left: 16px;
    transition: 0.3s;
}

#banner .banner_contains .social_links a:hover {
    transform: rotate(25deg);
    transition: all 0.3s ease-in-out;
}



/*  ========== Banner Section End ==================== */








/*-- ========== About section START ==================== --*/
#about {
    background: linear-gradient(to right, #FFCC00, #FAFFCB);
    margin-top: 100px;
    padding-top: 20px;
    position: relative;
}

#about .about_row .about_img img {
    /* width: 100%; */
}

#about .about_row .about_contains {
    margin-left: 30px;
    padding: 0 30px;
    /* text-align: center; */
}

#about .about_row .about_contains h4 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    color: #353535;
}

#about .about_row .about_contains p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
    color: #353535;
    margin: 20px 0 45px;
}

#about .about_row .about_contains a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #353535;
    /* margin-top: 40px; */
    display: inline-block;
    text-decoration: none;
    padding: 17px 42px;
    outline: 1px solid #000;
    border-radius: 20px;
}

#about .about_row .about_contains a:hover {
    text-decoration: underline;
    outline: 1px solid #00000070;
}

#about .about_ellipse {
    height: 100px;
    width: 200px;
    background: linear-gradient(#7ecf99, #52ab705d);
    border-radius: 100px 100px 0 0;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    right: 16%;

}



/*-- ========== About section END ==================== --*/








/*-- ========== Card-1 START ==================== --*/

#card_1 {
    margin-top: 130px;
    /* background: #52AB70; */
}

#card_1 .card_1_row .card_1_card {
    /* background: #52ab7052; */
    text-align: center;
    padding: 39px 57px 57px;
    border-radius: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
    width: calc(33.33% - 60px);
    cursor: pointer;
}

#card_1 .card_1_row .card_1_card:hover img {
    transform: scale(1.1);
    transition: 0.2s;
}

#card_1 .card_1_row .card_1_card h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 180%;
    text-align: center;
    color: #353535;
    margin: 18px 0 14px;
}

#card_1 .card_1_row .card_1_card p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    text-align: center;
    color: #7a7a7a;
}

/*-- ========== Card-1 END ==================== --*/







/*-- ========== BRANDING SECTION START ==================== --*/
#branding {
    margin-top: 150px;
    position: relative;
}



#branding .container {
    background: linear-gradient(to right, #FFCC00, #FFF5CB);
    border-radius: 30px;
}

#branding .branding_ellipse img {
    position: absolute;
    top: -7%;
    right: 23%;

}



#branding .branding_row .branding_contains {
    position: relative;
    padding-right: 116px;
}

#branding .branding_contains .branding_vector {
    position: absolute;
    left: 38%;
    top: 71%;
    opacity: 0.8;
}

#branding .branding_row .branding_contains h4 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 44px;
    color: #353535;
}


#branding .branding_row .branding_contains p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 190%;
    color: #353535;
    margin: 21px 0 60px;
}


#branding .branding_row .branding_contains a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 180%;
    text-align: center;
    color: #353535;
    padding: 18px 38px;
    text-decoration: none;
    border: 1px solid #000;
    border-radius: 20px;
}

#branding .branding_row .branding_contains a:hover {
    text-decoration: underline;
    border: 1px solid #00000070;
}

/*-- ========== BRANDING SECTION END ==================== --*/






/*-- ========== Support Section START ==================== --*/
#support {
    margin-top: 100px;
}


#support .support_card {
    padding: 17px 29px 18px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 24px;
}


#support .support_card .support_card_img_1,
#support .support_card .support_card_img_2,
#support .support_card .support_card_img_3 {
    padding: 13px;
    color: #fff;
    border-radius: 100%;
    display: inline-flex;
    margin-right: 18px;
}


#support .support_card .support_card_img_1 {
    background-color: #55852F;
}

#support .support_card .support_card_img_2 {
    background-color: #FEDC2A;
}

#support .support_card .support_card_img_3 {
    background-color: #FF8D3A;
}

#support .support_card .support_card_contains h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    color: #353535;
    margin: 0;
}


#support .support_card .support_card_contains p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 180%;
    color: #353535;
    margin: 0;
}

#support .support_contains {
    text-align: right;
}

#support .support_contains h4 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    /* text-align: right; */
    color: #353535;
}

#support .support_contains p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
    color: #353535;
    margin: 26px 0 32px 25px;
}


#support .support_contains .counting_row .count h4 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 40px;
    color: #353535;
}


#support .support_contains .counting_row .count p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    color: #353535;
    margin: 0;
}

#support .support_contains .counting_row .count:first-child {
    margin-right: 67px;
}

/*-- ========== Support Section END ==================== --*/






/*-- ========== EXPERIENCE SECTION START ==================== --*/

#experience {
    margin-top: 50px;
}



#experience .title h4 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #353535;
    padding: 85px 0;
}



#experience .experience_row .company {
    padding-bottom: 120px;
}



#experience .experience_row h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    color: #353535;
}

#experience .experience_row p {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #7a7a7a;
}



#experience .experience_row .designation p {
    font-weight: 400;
    line-height: 200%;
}




#experience .experience_row .company {
    position: relative;
}



#experience .experience_row .company::before {
    content: "";
    height: 42px;
    width: 42px;
    border: 2px dashed #7A7A7A;
    border-radius: 50%;
    position: absolute;
    left: 398px;
    top: 2px;
    background: #fff;
    z-index: 2;
}



#experience .experience_row .company::after {
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #52AB70;
    position: absolute;
    right: -99px;
    top: 13px;
    z-index: 3;
}

#experience .experience_row:nth-child(3n + 3) .company::after {
    background: #F17676;
}

#experience .experience_row:nth-child(3n + 4) .company::after {
    background: #FFD233;
}

#experience .company .line {
    content: "";
    height: 100%;
    width: 0;
    border-left: 2px dashed #7A7A7A;
    position: absolute;
    right: -90px;
    top: 2px;
}

/*-- ========== EXPERIENCE SECTION END ==================== --*/




/*-- ========== SKILL SECTION START ==================== --*/

#skill {
    margin-top: 100px;
    margin-bottom: 50px;
}

#skill .skill_row .skill_contains h4 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    color: #353535;
    text-transform: capitalize;
    margin-bottom: 49px;
}


#skill .skill_row .skill_contains p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #7a7a7a;
    padding-right: 12px;

}

#skill .skill_row .skill_contains a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 180%;
    color: #fff;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 16px 33px;
    background: #FFCC00;
    border-radius: 12px;
    margin-top: 49px;

}



#skill .skill_row .skill_contains span {
    display: inline-flex;
    padding-left: 11px;
}



#skill .skill_row .skill_contains a:hover {
    color: #FFCC00;
    background: transparent;
    outline: 1px solid #FFCC00;

}




/*-- ========== progress bar START ==================== --*/


.nav-pills .nav-link:first-child {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    color: #353535;
    padding: 16px 64px;
    border-radius: 20px;
}


.nav-pills .nav-link:last-child {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    color: #353535;
    padding: 16px 44px;
    border-radius: 20px;
}


.nav-pills .nav-link.active {
    outline: 1px solid #000 !important;
    /* Apply border when active */
    background: transparent;
}



.nav-pills .nav-link:not(.active) {
    outline: none;
    /* Remove border from inactive tabs */
}




#skill .skill_progress h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    color: #353535;


}

#skill .skill_progress h5 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #f16500;
}



#skill .skill_progress {
    padding-bottom: 44px;
}

#skill .skill_progress .border_ {
    outline: 1px solid transparent;
    padding: 5px;
    border-radius: 50px;
    transition: 0.2s;
}


#skill .skill_progress .border_:hover {
    outline: 1px solid #929191;
}


#skill .skill_progress .progress_1_contains {
    padding: 50px 63px 0 5px;
}



#skill .skill_progress .progress_2_contains h5 {
    color: #03249b;
}

#skill .skill_progress .progress_2_contains {
    padding-right: 104px;
    padding-left: 5px;
}





#skill .skill_progress .progress_3_contains h4 {
    color: #700d60;
}

#skill .skill_progress .progress_3_contains h5 {
    color: #700d60;
}

#skill .skill_progress .progress_3_contains {
    padding-right: 84px;
    padding-left: 5px;
}



#skill .skill_progress .progress_4_contains h4 {
    color: #234bda;
}

#skill .skill_progress .progress_4_contains h5 {
    color: #234bda;
}

#skill .skill_progress .progress_4_contains {
    padding-right: 125px;
    padding-left: 5px;
}


#skill .skill_progress .progress_5_contains h4 {
    color: #d89b00;
}

#skill .skill_progress .progress_5_contains h5 {
    color: #d89b00;
}

#skill .skill_progress .progress_5_contains {
    padding: 50px 88px 0 5px;
}



#skill .skill_progress .progress_6_contains h4 {
    color: #ce0000;
}

#skill .skill_progress .progress_6_contains h5 {
    color: #ce0000;
}

#skill .skill_progress .progress_6_contains {
    padding-right: 56px;
    padding-left: 5px;
}

/*-- ========== progress bar END ==================== --*/


/*-- ========== SKILL SECTION END ==================== --*/


/*-- ========== SERVICE SECTION START ==================== --*/
#service {
    margin-top: 100px;
    padding: 71px 0;
    background: #fff7d5;
}

#service .service_heading h4 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #353535;
    margin-bottom: 13px;
}

#service .service_heading p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    color: #7a7a7a;
    margin-bottom: 99px;
}

#service .service_row .service_card {

    margin: 0 19px;
    text-align: center;
    padding: 32px 48px 78px;
    background: #fff;
    outline: 0.01px solid #3535350e;
    border-radius: 12px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
    width: 350px;
}


#service .service_row .service_card.active {
    width: 370px;
    height: 447px;
    background: linear-gradient(#FFCC00, #FFE476);
    transform: scale(1.06);
    transform-origin: bottom;
    transition: all 0.3s ease-in-out;
}

#service .service_row .service_card h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    text-align: center;
    color: #353535;
    margin: 20px 0 25px;
}


#service .service_row .service_card.active h4 {
    font-size: 26px;
}


#service .service_row .service_card p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 180%;
    text-align: center;
    color: #7a7a7a;
    margin-bottom: 0;
}


#service .service_row .service_card.active p {
    font-weight: 500;
    font-size: 16px;
}


/*-- ========== SERVICE SECTION END ==================== --*/


/*-- ========== FEEDBACK CLIENT START ==================== --*/

#feedback_c {
    padding-top: 100px;
    background: #FBFBFB;
}

#feedback_c .feedback_c_heading {}



#feedback_c .feedback_c_heading h4 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 135%;
    color: #353535;
    margin-bottom: 35px;
}



#feedback_c .feedback_c_heading p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #7a7a7a;
    margin-bottom: 85px;
    margin-right: 42%;
}


#feedback_c .feedback_c_img {
    position: relative;
}


#feedback_c .feedback_c_img .bottom {
    position: absolute;
    bottom: 0%;
    left: 21%;
}


#feedback_c .feedback_c_img .arrow {
    position: absolute;
    bottom: 19%;
    left: -47px;
}

#feedback_c .feedback_c_img .ellipse {
    position: absolute;
    top: 38%;
    right: 24%;
}

#feedback_c .feedback_c_img .polygon {
    position: absolute;
    top: 6%;
    right: 37%;
}


#feedback_c .feedback_c_contains p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #7a7a7a;
    margin-right: 10%;
    margin-bottom: 28px;
}


#feedback_c .feedback_c_contains h5 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 24px;
    line-height: 200%;
    color: #353535;
    margin-left: 7%;
    margin-bottom: 0;
}


#feedback_c .feedback_c_contains p:last-child {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    margin-left: 7%;
}

/*-- ========== FEEDBACK CLIENT END ==================== --*/



/*-- ========== FEEDBACK BLOG START ==================== --*/
#feedback_b {
    margin-top: 150px;
}

#feedback_b h4:first-child {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 135%;
    text-align: right;
    color: #353535;
    margin-bottom: 80px;
}

#feedback_b .row_:first-of-type {
    margin-bottom: 42px;
}

#feedback_b .row_ .post_ .post_img img {
    width: 100%;
}




#feedback_b .post_ .post_contains .post_top p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 190%;
    color: #7a7a7a;
    display: flex;
    align-items: center;
    margin-bottom: 0;
}


#feedback_b .post_ .post_contains .post_top p span {
    display: inline-flex;
    margin-right: 11px;
}



#feedback_b .post_ .post_contains .post_top h5 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 190%;
    color: #353535;
    margin-bottom: 0;
}





#feedback_b .post_ .post_contains {
    margin-left: 34px;
}


#feedback_b .post_ .post_contains h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 190%;
    color: #353535;
    margin: 25px 0 60px;
}



#feedback_b .post_ .post_contains a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 190%;
    color: #353535;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
}


#feedback_b .post_ .post_contains a:hover {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 190%;
    color: var(--asikur-yellow);
    text-decoration: underline;
}



#feedback_b .post_ .post_contains a span {
    display: inline-flex;
}


/*-- ========== FEEDBACK BLOG END ==================== --*/


/*-- ========== NEWS LETTER  START ==================== --*/

#newsletter {
    margin-top: 100px;
}


#newsletter .container {
    padding: 100px 0;
    background: linear-gradient(#FFCC00, #FFF5CB);
    border-radius: 30px;
}


#newsletter .newsletter_contains h5 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #353535;
    margin-bottom: 0;
}



#newsletter .newsletter_contains h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 200%;
    color: #353535;
    margin-bottom: 0;
}



#newsletter .newsletter_contains h5:last-of-type {
    font-size: 18px;
}




#newsletter .newsletter_subs .form-control {
    padding: 23px 145px 23px 37px;
    border-radius: 16px 0 0 16px;
    border: 0;
}



#newsletter .newsletter_subs .form-control::placeholder {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #7a7a7a;
}


#newsletter .newsletter_subs .send_button {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 200%;
    color: #fff;
    background: #ff6565;
    border-radius: 0 16px 16px 0;
    padding: 25px 26px 25px 25px;
    width: 35%;
}


#newsletter .newsletter_subs .send_button:hover {
    background: #ff4242;
}

/*-- ========== NEWS LETTER  END ==================== --*/




/*-- ========== FOOTER SECTION START ==================== --*/

#footer {
    margin-top: 100px;
    padding: 80px 0;
    background: #575757;
    position: relative;
}


#footer img{
    position: absolute;
    z-index: 5;
}


#footer .vector{
    bottom: 6%;
    left: -3%;
}

#footer .ellipse{
    top: 39%;
    left: 10%;
}


#footer .polygon{
    top: 39%;
    right: 10%;
}


#footer .f_child_row .logo_ a {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 48px;
    color: #fff;
    text-decoration: none;
}



#footer .f_child_row .logo_ a span {
    color: #fbfbfb;
}


#footer .f_child_row .logo_ a span:nth-of-type(2) {
    color: #f8bc17;
}


#footer .f_child_row .contains_ h4 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 200%;
    color: #fff;
    margin-bottom: 0;
}



#footer .f_child_row .contains_ p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: justify;
    color: #bbb9b9;
}


#footer .f_child_ancor {
    text-align: end;
}


#footer .f_child_ancor a {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    color: #fff;
    background: #fc0;
    border-radius: 16px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    padding: 16px 32px;
}


#footer .f_child_ancor a span {
    margin-left: 11px;
    display: inline-flex;
}



#footer .f_child_ancor a:hover {
    background: transparent;
    outline: 1px solid var(--button-yellow);
    color: var(--button-yellow);
}




#footer .f_parent_row:last-child {
    margin-top: 85px;
}




#footer .f_child_row .contacts_ p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: justify;
    color: #bbb9b9;
    margin-bottom: 4px;
}


#footer .f_child_row .contacts_ h5 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    color: #fff;
}

#footer .f_child_socials p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: justify;
    color: #fff;
    margin-bottom: 0;
    margin-right: 24px;
}

#footer .f_child_socials a {
    /* align-items: center; */
    color: #fff;
    background: #484848;
    padding: 14px;
    border-radius: 100%;
    margin-right: 10px;
    line-height: 0;
}

#footer .f_child_socials a:hover {
    transform: rotate(25deg);
    transition: all 0.3s ease-in-out;
}

/*-- ========== FOOTER SECTION END ==================== --*/